<div class="container mt-3">
  <h2>Log in</h2>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="mb-3 mt-3">
      <label for="name">:שם</label>
      <input type="text" class="form-control" id="name" placeholder="הכנס שם" formControlName="Name" required />
      <div *ngIf="loginForm.controls['Name'].invalid && loginForm.controls['Name'].touched" class="text-danger">
        נא להזין שם
      </div>
    </div>
    <div class="mb-3">
      <label for="email">אימייל:</label>
      <input type="email" class="form-control" id="email" placeholder="הכנס אימייל" formControlName="Email" />
      <div *ngIf="loginForm.controls['Email'].invalid && loginForm.controls['Email'].touched" class="text-danger">
        נא להזין אימייל תקני
      </div>
    </div>
    <app-button type="submit" class="btn btn-primary" word="התחבר" icon="fa-solid fa-angle-left" [disabled]="loginForm.invalid"></app-button>
  </form>
</div>
