<div id="home1">
   <div id="context">
     <img id="home2" [src]="home2" alt="Image" />
    <p class="pHome">  חדש! הכירו את סרום העיניים</p>
    <p class="pHome">HYPER REAL מסדרת הטיפוח האייקונית </p>
    <h2> !לכבוד ההשקה, אפליקטור יוקרתי מתנה</h2>
   </div>
</div>
<div id="home3">
    <div class="home4">
        <img class="home" [src]="home6" alt="Image"/>
        <h2>! מברשת דו - צדדית - מתנה</h2>
        <h2>ברכישת מייקאפ +מסדרת HYPER REAL</h2>
        <p class="p1"> בתוקף עד 20.01.2025 או עד גמר המלא, ללא כפל הטבות ומבצעים, בכפוף לתנאים</p>
    </div>
    <div class="home4">
        <img class="home" [src]="home5" alt="Image"/>
        <h2>PERFECT LASHES</h2>
        <h2> 15% הנחה על כל המסקרות המובילות</h2>
        <p class="p1"> בתוקף עד 20.01.2025 או עד גמר המלא, ללא כפל הטבות ומבצעים, בכפוף לתנאים</p>
    </div>   
</div>
<div id="lovlyProducts">
    <p id="loveP">גלי את המוצרים האהובים ביותר</p>
    <img id="lovePic" [src]="home8" alt="Image"/>

</div>

<div id="home7">
            <img id="picChangs" [src]="getCurrentImage()" alt="Image" />
        <div>
        <h1 id="title1">מארזים בלעדיים</h1>
        <h2>! שמחכים לה כל השנה MAC קולקציית ההולידיי של  </h2> 
        <h2>קיטים במהדורה מוגבלת שאסור לפספס.</h2>
        </div>
</div>

<div id="sale"> 
</div>
<footer id="footer">
    <div id="footer-content">
      <div class="footer-section">
        <h3>קישורים שימושיים</h3>
        <ul>
          <li><span class="link-style">החנויות שלנו</span></li>
          <li><span class="link-style">לקביעת שיעור איפור / איפור אירוע</span></li>
          <li><span class="link-style">למציאת חנות</span></li>
          <li><span class="link-style">הירשמי לקבלת עדכונים במקום</span></li>
        </ul>
        <div class="footer-image">
            <img src="/I.jpg" alt="תמונה קטנה" />
          </div>
      </div>
      
  
      <div class="footer-section">
        <h3>שירות לקוחות</h3>
        <ul>
          <li><span class="link-style">צרו קשר</span></li>
          <li><span class="link-style">דברו איתנו ב-WHATSAPP</span></li>
          <li><span class="link-style">שאלות נפוצות</span></li>
          <li><span class="link-style">מדיניות משלוחים</span></li>
          <li><span class="link-style">החלפות והחזרות</span></li>
          <li><span class="link-style">ביטול עסקה</span></li>
          <li><span class="link-style">תנאי שימוש ותקנון אתר</span></li>
        </ul>
      </div>
  
      <div class="footer-section">
        <h3>אודות</h3>
        <ul>
          <li><span class="link-style">אודותינו</span></li>
          <li><span class="link-style">הסיפור של מאק</span></li>
          <li><span class="link-style">קרן VIVA GLAM של מאק</span></li>
          <li><span class="link-style">BLACK FRIDAY - בלאק פריידי</span></li>
          <li><span class="link-style">מועדון MAC PRO</span></li>
          <li><span class="link-style">קריירה</span></li>
          <li><span class="link-style">עמדתנו כלפי ניסויים בבעלי חיים</span></li>
          <li><span class="link-style">דו"ח שכר שווה לעובד ולעובדת 2024</span></li>
        </ul>
      </div>
  
      <div class="footer-section">
        <h3>החשבון שלך</h3>
        <ul>
          <li><span class="link-style">מאק שלי</span></li>
          <li><span class="link-style">סטטוס הזמנה</span></li>
          <li><span class="link-style">המועדפים שלי</span></li>
          <li><span class="link-style">התחברי</span></li>
          <li><span class="link-style">בחרי מדינה</span></li>
          <li><span class="link-style">ישראל</span></li>
        </ul>
      </div>
    </div>
  
    <div id="footer-bottom">
      <p>2025 Bat Sheva & Pnina© </p>
    </div>
  </footer>
  